body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .688em;
  color: #131313;
  margin: 0;
}
/* Headings */
h1 {
  font-size: 1.545em;
  margin-bottom: 0.727em;
}
h2 {
  font-size: 1.364em;
  line-height: 1.455em;
  margin-top: 1em;
  margin-bottom: 0.60em;
  font-weight: normal;
}
h3,
h4,
h5,
h6 {
  font-size: 1.091em;
  font-weight: normal;
}
/* paragraphs, quotes and lists */
p {
  line-height: 1.3em;
}
/* pre and code */
pre, code {
  font-family: inherit;
  background-color: #efefef;
  border: 1px solid #d3d3d3;
}
th {
  text-align: left;
  font-weight: normal;
}

body {
  font-size: 1em;
  padding: 1em;
}

h2 {
  margin-top: 0;
}

.form-row {
  padding: .3em;
}

.form-hint {
  font-size: .7em;
  color: gray;
}

.newEntryView .form,
.listView table,
.summaryView table {
  margin-bottom: 1em;
}

table {
  width: 100%;
}
tr:nth-child(2n+1) {
  background: #eee;
}
.listView tr:hover {
  cursor: pointer;
  background: #ddd;
}
td, th {
  padding: .4em;
}
td.amount {
  text-align: right;
}

.dijitRadio {
  margin: .6em !important;
}
